<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Resume Screening</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="hero">

        <h1>
            Smart Resume Screening System
        </h1>

        <p>
            AI-Powered Resume Ranking & Skill Gap Analysis
        </p>

        <button>
            Get Started
        </button>

    </div>

</body>
</html>